In [1]:
#!pip3 install pymysql

In [2]:
import json
import pandas as pd
import pymysql
from sqlalchemy import func, create_engine

from config import remote_db_endpoint, remote_db_port, remote_db_user, remote_db_pwd, remote_db_name

pymysql.install_as_MySQLdb()

In [3]:
with open('us-states.json') as json_file:
    json_data = json.load(json_file)

In [4]:
#json_data

In [5]:
engine = create_engine(f"mysql://{remote_db_user}:{remote_db_pwd}@{remote_db_endpoint}/{remote_db_name}")
conn = engine.connect()

In [6]:
# Query for GDP data

query = '''
    SELECT 
        STATE_FULL_NAME,
        SUM(Populations) as Total_Populations,
        STATE
    FROM `state-population-final`
    GROUP BY STATE_FULL_NAME
''' 

df = pd.read_sql(query, conn)

# Close connecttion everytime after did the query   
#conn.close()

In [7]:
df.head(10)

  STATE_FULL_NAME  Total_Populations STATE
0         Alabama               36.0    AL
1         Arizona               57.0    AZ
2        Arkansas               21.0    AR
3      California              344.0    CA
4        Colorado               45.0    CO
5     Connecticut               27.0    CT
6        Delaware             8460.0    DE
7         Florida              178.0    FL
8         Georgia               87.0    GA
9           Idaho                9.0    ID

In [8]:
# state_xref = pd.read_csv('states.csv')
# state_xref

In [9]:
# loan_data_xref = pd.merge(loan_data, state_xref, left_on='BorrState', right_on='Abbrev')

In [10]:
# loan_data_xref

In [12]:
pd.to_numeric(df['Total_Populations'])

0       36.0
1       57.0
2       21.0
3      344.0
4       45.0
5       27.0
6     8460.0
7      178.0
8       87.0
9        9.0
10     108.0
11      54.0
12      27.0
13      18.0
14      36.0
15      36.0
16       9.0
17      49.0
18      54.0
19      81.0
20      45.0
21      18.0
22      54.0
23    1005.0
24       9.0
25      20.0
26       9.0
27      72.0
28      18.0
29     171.0
30      86.0
31    6627.0
32      99.0
33      27.0
34      32.0
35     108.0
36       9.0
37      39.0
38    7696.0
39      54.0
40     241.0
41      22.0
42    5623.0
43      72.0
44      60.0
45       9.0
46      45.0
47    5209.0
Name: Total_Populations, dtype: float64

In [ ]:
pop_dict = df[['STATE_FULL_NAME','Total_Populations']].to_dict(orient='records')

In [ ]:
#json_data
#loan_dict

json_data['features'][0]['properties'].keys()

In [ ]:
for i in range(len(json_data['features'])):
    for j in range(len(pop_dict)):
        if(json_data['features'][i]['properties']['name'] == pop_dict[j]['STATE_FULL_NAME']):
            json_data['features'][i]['properties']['total_populations'] = pop_dict[j]['Total_Populations']

In [ ]:
json_data

In [ ]:
with open('state_population.json', 'w') as json_file:
    json.dump(json_data, json_file)